* {
    margin: 0;
    padding: 0;
}

body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
}

header {
    color: hsl(1deg 100% 45%);
}

.navigation {
    background-color: hsl(1deg 100% 45%);
    padding: 1em;
}

.navigation > ul {
    list-style: none;
    display: flex;
    column-gap: 1.2em;
}

a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    text-decoration: 2px white underline;
}

.network-details {
    padding: 4em;
    display: flex;
    justify-content: center;
    column-gap: 5em;
    background-color: rgba(235, 234, 233, 1);
}

.service-info  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brand {
    color: hsl(1deg 100% 45%);
    font-size: 3em;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.4);
}

.status {
    color: lightslategray;
}

.reset-button {
    background-color: hsl(1deg 100% 45%);
    padding: 1em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
    cursor: pointer;
}